/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'ralewayregular';
  src: url("/fonts/raleway/raleway-regular-webfont.eot");
  src: url("/fonts/raleway/raleway-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/raleway/raleway-regular-webfont.woff2") format("woff2"), url("/fonts/raleway/raleway-regular-webfont.woff") format("woff"), url("/fonts/raleway/raleway-regular-webfont.ttf") format("truetype"), url("/fonts/raleway/raleway-regular-webfont.svg#ralewayregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* fonts */
/* colors */
/* line 37, ../sass/screen.scss */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: ralewayregular;
  font-size: 12pt;
  color: black;
  background-color: white;
}

/* line 61, ../sass/screen.scss */
a {
  color: #f8bf54;
  text-decoration: none;
}

/* line 66, ../sass/screen.scss */
.everything {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1100px;
  padding: 20px;
}

/* line 72, ../sass/screen.scss */
.intro {
  padding: 40px;
  border-bottom: none;
  background-color: #4a646f;
  position: relative;
  color: white;
  background: #0098db;
  background-image: url("../../images/desk.png");
  background-position: bottom center;
  background-repeat: no-repeat;
}
/* line 83, ../sass/screen.scss */
.intro .logo-container {
  margin-bottom: 20px;
}
/* line 87, ../sass/screen.scss */
.intro #logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
}
/* line 92, ../sass/screen.scss */
.intro .left {
  float: left;
  width: 400px;
  margin-top: 60px;
}
/* line 97, ../sass/screen.scss */
.intro .left .heading {
  font-family: ralewayregular;
  font-size: 24pt;
  margin-bottom: 20px;
}
/* line 103, ../sass/screen.scss */
.intro .left .description {
  font-size: 16pt;
  margin-bottom: 30px;
  line-height: 35px;
}
/* line 110, ../sass/screen.scss */
.intro .right {
  float: right;
  margin-right: -40px;
  /* compensate for 40px padding on parent */
  width: 400px;
  margin-top: 30px;
  padding: 35px;
  background-color: rgba(255, 255, 255, 0.35);
}
/* line 118, ../sass/screen.scss */
.intro .right .label {
  font-size: 14pt;
  margin-bottom: 18px;
}
/* line 123, ../sass/screen.scss */
.intro .right .email {
  width: 245px;
}
/* line 127, ../sass/screen.scss */
.intro .right .rsvp-result {
  margin-top: 20px;
  color: #222222;
  font-weight: bold;
}
/* line 134, ../sass/screen.scss */
.intro .lame {
  content: " ";
  display: block;
  height: 250px;
  clear: both;
}

/* line 142, ../sass/screen.scss */
.features {
  padding: 40px;
  background-color: #f3f8fa;
  color: #4a4a4a;
  border: solid 1px #31838F;
  border-top: 0px;
}
/* line 149, ../sass/screen.scss */
.features .header {
  text-align: center;
  color: #0098db;
  font-size: 20pt;
  font-weight: bold;
}

/* line 157, ../sass/screen.scss */
.feature-row {
  position: relative;
  margin: 50px 50px 50px 50px;
  height: 350px;
}

/* line 163, ../sass/screen.scss */
.feature-col-1 {
  float: left;
  width: 40%;
}

/* line 168, ../sass/screen.scss */
.feature-col-2 {
  float: right;
  width: 40%;
}

/* line 173, ../sass/screen.scss */
.feature-icon {
  display: block;
  margin-bottom: 20px;
  height: 150px;
}

/* line 180, ../sass/screen.scss */
.feature-title {
  display: block;
  font-size: 14pt;
  font-weight: bold;
  margin-bottom: 20px;
}

/* line 187, ../sass/screen.scss */
.feature-description {
  line-height: 20px;
}

/* line 194, ../sass/screen.scss */
input[type="text"], input[type="password"] {
  padding: 12px 15px;
  height: auto;
  font-size: 14pt;
  border: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 206, ../sass/screen.scss */
input[type="button"], input[type="submit"] {
  border: none;
  height: 46px;
  position: absolute;
  width: 125px;
  font-size: 14pt;
  background-color: #323233;
  color: white;
}

/* line 216, ../sass/screen.scss */
strong {
  font-weight: bold;
}

/* line 220, ../sass/screen.scss */
.clickable {
  cursor: pointer;
}

/* line 225, ../sass/screen.scss */
.footer {
  text-align: center;
  margin: 20px;
}

/* line 230, ../sass/screen.scss */
.copyright {
  display: inline-block;
}

@media (max-width: 1150px) {
  /* line 235, ../sass/screen.scss */
  .everything {
    width: 94%;
  }
}
@media (max-width: 1000px) {
  /* line 242, ../sass/screen.scss */
  .intro #logo {
    height: auto !important;
    width: 60%;
  }
  /* line 247, ../sass/screen.scss */
  .intro .left {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
    text-align: center;
  }
  /* line 253, ../sass/screen.scss */
  .intro .right {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
}
@media (max-width: 750px) {
  /* line 262, ../sass/screen.scss */
  .features {
    padding: 20px;
    text-align: center;
  }
  /* line 266, ../sass/screen.scss */
  .features .feature-row {
    margin: 0px;
    height: auto;
  }
  /* line 271, ../sass/screen.scss */
  .features .feature-icon {
    display: inline;
  }
  /* line 275, ../sass/screen.scss */
  .features .feature-col-1 {
    float: none;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  /* line 282, ../sass/screen.scss */
  .features .feature-col-2 {
    float: none;
    width: 100%;
  }
}
@media (max-width: 650px) {
  /* line 291, ../sass/screen.scss */
  .everything {
    padding: 0px;
  }
  /* line 294, ../sass/screen.scss */
  .everything .intro {
    padding: 15px;
  }
  /* line 297, ../sass/screen.scss */
  .everything .intro .logo-container {
    margin-bottom: 0px;
  }
  /* line 300, ../sass/screen.scss */
  .everything .intro .logo-container #logo {
    width: 80%;
  }
  /* line 305, ../sass/screen.scss */
  .everything .intro .left {
    width: auto;
    margin-top: 40px;
  }
  /* line 309, ../sass/screen.scss */
  .everything .intro .left .heading {
    font-size: 18pt;
  }
  /* line 313, ../sass/screen.scss */
  .everything .intro .left .description {
    font-size: 14pt;
    line-height: 25px;
  }
  /* line 319, ../sass/screen.scss */
  .everything .intro .right {
    width: auto;
    text-align: center;
    padding: 20px;
  }
  /* line 325, ../sass/screen.scss */
  .everything .intro .right .label {
    font-size: 12pt;
  }
  /* line 328, ../sass/screen.scss */
  .everything .intro .right .label #contact-line-1 {
    display: none;
  }
  /* line 333, ../sass/screen.scss */
  .everything .intro .right .email {
    width: 100%;
  }
  /* line 337, ../sass/screen.scss */
  .everything .intro .right #contactButton {
    position: static;
    width: 100%;
    margin-top: 20px;
  }
}
